body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212; /* Dark theme */
  font-family: Arial, sans-serif;
  color: white;
}

header,
footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: #1e1e1e;
  font-family: fantasy;
  letter-spacing: 1px;
}

header {
  border-bottom: 2px solid #a110a9;
}

footer {
  border-top: 2px solid #a110a9;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: 10px 0;
}

.login-button {
  background-color: #a110a9;
  border: none;
  border-radius: 50px;
  color: white;
  font-family: fantasy;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-button:hover {
  background-color: #df41ed;
  transform: scale(1.05);
}

.login-button:active {
  transform: scale(0.95);
}
